div.theorem_thmcontent {
  border-left: .15rem solid black;
}

div.proposition_thmcontent {
  border-left: .15rem solid black;
}

div.lemma_thmcontent {
  border-left: .1rem solid black;
}

div.corollary_thmcontent {
  border-left: .1rem solid black;
}
